<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aluno.projetoreservasala">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ReservaSala"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.FirstActivity" />
        <activity android:name=".Views.ListSalas" />
        <activity android:name=".Views.CriarSala" />
        <activity android:name=".Views.ViewSala" />
        <activity android:name=".Views.CreateHorariosDate" />
        <activity android:name=".Views.CreateHorarioTime"></activity>
    </application>

</manifest>